body{
  font-family: "Calibri Light" !important;
}

h2{
  font-family: "STCaiyun" !important;
}

h5{
  font-family: "Consolas" !important;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
  place-content: center;
}

.text-bold{
  font-weight: bold;
}