$btn-hover-color: darkgoldenrod;

.bg{
  &-extra_dark{
    background-color: black;
    color: whitesmoke;
  }
}

.btn{
  &-extra_dark{
    background-color: black;
    color: whitesmoke;
    &:hover {
      color: $btn-hover-color !important;
    }
  }
}