.emoteit-page{
  background-color: rgba(248,206,236,0.1);
  background-image: url(../assets/images/logo/logo-back.png);
  background-size: 230px;
}

.modal-content{
  background-color: #f5f5dc;
  button{
    background-color: #212121;
    color: antiquewhite;
  }
  input{
    background: transparent;
  }
}

@media (max-width: 720px) {
  .brand-logo {
    width: 30%;
  }
}

.brand-logo {
  width: 15%;
}

.main-page{
  margin-left: 15px;
}

$white:"white";

.stats {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-cols{
  position: sticky;
  top: 120px;
  z-index: 1;
}